---
layout: default
---
<div id="post">
{% for chapter in (1..site.chapters) %}
    {% assign posts_exist = false %}
    {% for post in site.categories[page.category] %}
        {% if post.chapter == chapter %}
            {% assign posts_exist = true %}
        {% endif %}
    {% endfor %}

    {% if posts_exist %}
        <h3>Chapter {{ chapter }}</h3>
        {% for post in site.categories[page.category] reversed %}
            {% if post.chapter == chapter %}
            <h5>{{ post.date | date_to_string }} &raquo;
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
</div>
